html {
  background-color: #ddf;
}

body {
  background-color: #ccf;
  font-family: Georgia, serif;
  font-size: 13pt;
  line-height: 1.5;
  margin: 2cm auto;
  max-width: 17cm;
}

header {
  text-align: center;
}

header > h1 {
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

ul:first-of-type {
  list-style: none;
  padding-left: 0;
}

img[src^="https://unpkg.com/simple-icons"] {
  height: 1em;
  margin-bottom: -0.15em;
  padding-right: 0.5em;
}
