html {
  background-color: #ddf;
}

body {
  background-color: #ccf;
  font-family: Georgia, serif;
  font-size: 12pt;
  line-height: 1.5;
  margin: 2cm auto;
  max-width: 17cm;
}

header {
  text-align: center;
}

header > h1 {
  line-height: 1;
  margin: 0;
}
