@media print {
  html {
    background-color: #dfd;
  }

  body {
    background-color: #cfc;
    margin: 0;
  }

  h2, dt {
    page-break-after: avoid;
  }

  dd {
    page-break-before: avoid;
  }
}

@page {
  @bottom-center {
    content: counter(page) '/' counter(pages);
  }

  margin-bottom: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 2cm;
  size: A4;
}
