@media print {
  body {
    margin: 0;
  }

  h2, dt {
    page-break-after: avoid;
  }

  dd {
    page-break-before: avoid;
  }

  h2.page-break-before {
    page-break-before: always;
    line-height: 1;
    margin-top: 0
  }
}

@page {
  @bottom-center {
    content: counter(page) '/' counter(pages);
  }

  margin-bottom: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 2cm;
  size: A4;
}
